[Unit]
Description=Run Synergy Server

[Service]
Type=simple
EnvironmentFile=${HOME}/.config/synergy/names
ExecStart=/usr/bin/synergys -f --no-tray --debug NOTE --name ${SERVER_NAME} --address :24800

[Install]
WantedBy=default.target

